#carouselPrincipal {
  position: relative;
  .carousel-indicators {
    button {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin: 0 0.5rem;
      opacity: 1;
      background-color: #fff;
      &.active {
        background-color: $amarillo-marca;
      }
    }
  }
  .carousel-logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    text-align: center;
    z-index: 1;
    p {
      color: #fff;
      font-size: 2rem;
      font-weight: 700;
    }
  }
  .carousel-btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: $amarillo-marca;
    padding: 0.85rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.56rem;
    color: #000;
    text-decoration: none;
    z-index: 1;
    transition: all 0.3s ease-in;
    &:hover {
      background-color: $amarillo-claro;
    }
  }
  .carousel-item {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(#000, 0.5);
    }
    img {
      display: block;
      min-height: 690px;
      object-fit: cover;
      &.md {
        display: none;
      }
    }
    .carousel-caption {
      bottom: 35%;
      padding: 0;
      p {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 0;
      }
      h2 {
        display: inline-block;
        font-size: 4.5rem;
        font-weight: 500;
        position: relative;
        z-index: 0;
        &::before {
          content: "";
          position: absolute;
          left: 2.5%;
          bottom: 0.75rem;
          width: 95%;
          height: 0.8rem;
          background-color: $amarillo-claro;
          z-index: -1;
        }
      }
    }
  }
  @media (max-width: $md) {
    .carousel-logo {
      width: max-content;
      top: 20%;
    }
    .carousel-btn {
      width: max-content;
      bottom: 9%;
    }
    .carousel-item {
      img {
        height: 100vh;
      }
      &:first-child img {
        object-position: 45% center;
      }
      &:nth-child(2) img {
        object-position: 75% center;
      }
    }
  }
  @media (max-width: $sm) {
    .carousel-logo {
      top: 15%;
      p {
        width: max-content;
        margin: 0 1rem;
      }
    }
    .carousel-item {
      img {
        &.md {
          display: block;
        }
        &:not(.md) {
          display: none;
        }
      }
      .carousel-caption {
        bottom: 33%;
        right: 5%;
        left: 5%;
        p {
          font-size: 1.5625rem;
          margin-bottom: 0.5rem;
        }
        h2 {
          font-size: 2.8rem;
          &::before {
            bottom: 0.5rem;
            height: 0.625rem;
          }
        }
      }
    }
  }
}
