#header__logo {
  position: fixed;
  top: 0.5rem;
  left: 3.5rem;
  opacity: 0;
  z-index: 1030;
  transition: opacity 0.7s ease-in-out;
  img {
    width: 6rem;
  }
  &.show {
    opacity: 1;
  }
  @media (max-width: $lg) {
    left: 1rem;
  }
}
