.section-separator-triangle {
  position: relative;
  background: $amarillo-marca;
  height: 6px;
}

.section-separator-triangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: $amarillo-marca transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}
