@media (min-width: 320px) {
  .contenedor__preguntasFrecuentes {
    text-align: center;
    //background-image: URL("../img/fondo2.png");
    padding: 2rem 0 2rem 0;
    font-family: $fuente-principal;
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.5;
      background-image: url("../img/fondo_piedra_todos.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    .contenedor__PreguntasFrecuentes--titulo {
      display: inline-block;
      font-size: 1.9rem;
      font-weight: 500;
      position: relative;
      z-index: 0;
      margin: 2rem 0 0 0;
      line-height: 55px;
      .highlight::before {
        content: "";
        position: absolute;
        left: 2.5%;
        bottom: 0.45rem;
        width: 95%;
        height: 0.5rem;
        background-color: $amarillo-claro;
        z-index: -1;
      }
    }
  }
  .contenedor__preguntas1 {
    box-shadow: 0px 7px 6px rgb(202, 199, 199);
    .contenedor__preguntas {
      padding: 1rem;
    }
  }
  .contenedor__preguntas {
    margin-left: 6%;
    margin-right: 2%;
    padding: 4%;
    padding-bottom: 0%;
    font-family: $fuente-principal;
    .contenedor__preguntas--preguntas {
      font-weight: bold;
    }
  }
}

@media (min-width: 369px) {
  .contenedor__preguntasFrecuentes {
    text-align: center;
    //background-image: URL("../img/fondo2.png");
    padding: 0 0 2rem 0;
    font-family: $fuente-principal;
    // &::before {
    //   content: " ";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   z-index: -1;
    //   opacity: 0.5;
    // }
    .contenedor__PreguntasFrecuentes--titulo {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 500;
      position: relative;
      z-index: 0;
      margin: 3rem 0 1rem 0;
      margin-bottom: 1%;
      padding-bottom: 0ch;
      .highlight {
        border-width: 0ch;
      }
    }
  }
}

@media (min-width: 400px) {
  .contenedor__preguntasFrecuentes {
    text-align: center;
    //background-image: URL("../img/fondo2.png");
    padding: 0 0 2rem 0;
    font-family: $fuente-principal;
    // &::before {
    //   content: " ";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   z-index: -1;
    //   opacity: 0.5;
    // }
    .contenedor__PreguntasFrecuentes--titulo {
      display: inline-block;
      font-size: 2rem;
      font-weight: 500;
      position: relative;
      z-index: 0;
      margin: 3rem 0 1rem 0;
      margin-bottom: 1%;
      padding-bottom: 0ch;
      .highlight {
        border-width: 0ch;
      }
    }
  }
}

@media (min-width: 600px) {
  .contenedor__preguntasFrecuentes {
    text-align: center;
    //background-image: URL("../img/fondo2.png");
    padding: 0 0 2rem 0;
    font-family: $fuente-principal;
    // &::before {
    //   content: " ";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   z-index: -1;
    //   opacity: 0.5;
    // }
    .contenedor__PreguntasFrecuentes--titulo {
      display: inline-block;
      font-size: 2.2rem;
      font-weight: 500;
      position: relative;
      z-index: 0;
      margin: 3rem 0 1rem 0;
      margin-bottom: 1%;
      padding-bottom: 0ch;
      .highlight {
        &::before {
          content: "";
          position: absolute;
          left: 2.5%;
          bottom: 0.25rem;
          width: 95%;
          height: 0.5rem;
          background-color: $amarillo-claro;
          z-index: -1;
        }
      }
    }
  }
  .contenedor__preguntas {
    margin-left: 6%;
    margin-right: 2%;
    padding: 4%;
    padding-bottom: 0%;
    font-family: $fuente-principal;
    margin-left: 10%;
    .contenedor__preguntas--preguntas {
      font-weight: bold;
    }
  }
}

@media (min-width: 700px) {
  .contenedor__preguntasFrecuentes {
    text-align: center;
    //background-image: URL("../img/fondo2.png");
    padding: 0 0 2rem 0;
    font-family: $fuente-principal;
    // &::before {
    //   content: " ";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   z-index: -1;
    //   opacity: 0.5;
    // }
    .contenedor__PreguntasFrecuentes--titulo {
      display: inline-block;
      font-size: 3.5rem;
      font-weight: 500;
      position: relative;
      z-index: 0;
      margin: 3rem 0 1rem 0;
      margin-bottom: 2%;
      vertical-align: text-bottom;
      .highlight {
        border-width: 0ch;
      }
    }
  }
  .contenedor__preguntas {
    margin-left: 6%;
    margin-right: 2%;
    padding: 4%;
    padding-bottom: 0%;
    font-family: $fuente-principal;
    margin-left: 10%;
    .contenedor__preguntas--preguntas {
      font-weight: bold;
    }
    .contenedor__preguntas--respuesta {
      margin-bottom: 4%;
    }
    .contenedor__preguntas--respuesta1 {
      margin-bottom: 0.5%;
      margin-top: 0%;
    }
    .contenedor__preguntas--respuesta1 {
      margin-bottom: 0%;
      margin-top: 0%;
    }
  }
}
