main.home .propuesta {
  height: 25rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    max-width: 82rem;
    font-size: 2.625rem;
    font-weight: 300;
    text-align: center;
    &:first-child {
      margin-bottom: 0;
    }
  }
  b {
    font-size: 2.8125rem;
    font-weight: 500;
  }
  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background-image: url("../img/fondo_piedra_todos.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  @media (max-width: $xxl) {
    p,
    b {
      font-size: 2.3rem;
    }
  }
  @media (max-width: $xl) {
    p,
    b {
      padding: 0 2rem;
      font-size: 1.8rem;
    }
  }
  @media (max-width: $lg) {
    height: 20rem;
    p,
    b {
      padding: 0 1rem;
      font-size: 1.45rem;
    }
  }
  @media (max-width: $md) {
    height: 15rem;
    p,
    b {
      font-size: 1.25rem;
    }
  }
  @media (max-width: $md) {
    height: auto;
    padding: 3rem 2.56rem;
    p,
    b {
      padding: 0;
      font-size: 1.25rem;
    }
  }
}
