
.contenedor__nuestrosEspacios{
    text-align: center;
    background-color: grey;
    padding: 0 0 2rem 0;
    .contenedor__nuestrosEspacios--titulo {
            display: inline-block;
            font-size: 3.5rem;
            font-weight: 500;
            position: relative;
            z-index: 0;
            margin: 2rem 0 0.7rem 0;
            &::before {
              content: "";
              position: absolute;
              left: 2.5%;
              bottom: 0.75rem;
              width: 95%;
              height: 0.8rem;
              background-color: $amarillo-claro;
              z-index: -1;
            }
        }        
    .contenedor__nuestrosEspacios--descripcion {
        margin-left:  18%;
        margin-right: 18%;
    }
}


.nuestrosEspacios__carousel--departamentosConfortables{
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
    .departamentosConfortables__contenedor {
        grid-column: [x1] / [x2];
        grid-row: [y0] / [y1];
        width: 100%;
        .departamentosConfortables__subContenedor {
            margin-left: 10%;
            margin-top: 5%;
            .departamentosConfortables__titulo {
                font-weight: bold;
                margin-top: 5%;
                margin-bottom: 4%;
                font-size: 2rem;
                &span::before {
                    content: "";
                    position: absolute;
                    left: 2.5%;
                    bottom: 0.75rem;
                    width: 95%;
                    height: 0.8rem;
                    background-color: $amarillo-claro;
                    z-index: -1;
                }
            }
            p .departamentosConfortables__subtitulo {
            font-weight: bold;
            font-size: 200px;
            }
            .departamentosConfortables__descripcion {
                margin-bottom: 0px;
                margin-top: 4%;
            }
            .departamentosConfortables__descripcionBis {
                margin-top: 0px;
            }
            ul {
                margin-top: 4%;
                list-style-type: square;
                li {
                    margin-top: 3%;
                    color: black;
                    &::marker{
                        color: $amarillo-claro;
                    }
                }
            }
        } 
    }
}    
.carouselNuestrosEspacios {
        #departamentosConfortables{
            grid-column: [x0] / [x1];
            grid-row: [y0] / [y1];
        }
        #ampliosEspaciosDeTrabajo{
            grid-column: [x1] / [x2];
            grid-row: [y1] / [y2];
        }
        #calidosEspaciosComunes{
            grid-column: [x0] / [x1];
            grid-row: [y2] / [y3];
        }
        position: relative;
        .carousel-inner {
            position: relative;
            .carousel-item img {
                min-height: 250px;
                width: 100%;
                object-fit: cover;
            }
            
        }
    }
