.contacto {
  background-image: url("../img/fondo_piedra_todos.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-bottom: 8.5rem;
  h2 {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 4rem 0 3.5rem 0;
    margin: 0;
    text-align: center;
  }
  .contacto-wraper {
    display: flex;
    justify-content: space-around;
    .formulario {
      flex-basis: 35%;
      min-width: 30rem;
      h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2.7rem;
      }
      form {
        .form-control {
          font-size: 0.9375rem;
          border-radius: 0;
          border: 1px solid #8e8c8c;
          background-color: rgba(255, 255, 255, 0.9);
          &:focus {
            box-shadow: 0 0 0 0.25rem rgba($amarillo-marca, 0.35);
          }
        }
        button[type="submit"] {
          font-size: 0.9375rem;
          font-weight: 500;
          color: #000;
          background-color: $amarillo-marca;
          border-color: $amarillo-marca;
          border-radius: 0.5rem;
          padding: 0.55rem 2.6rem;
          transition: all 0.25s ease-in;
          &:hover {
            background-color: $amarillo-claro;
            border-color: $amarillo-claro;
          }
        }

        textarea {
          resize: none;
        }
      }
    }
    aside {
      padding-left: 2.4rem;
      flex-basis: 28%;
      min-width: 25rem;
      border-left: 1px solid #000;
      .direccion {
        p {
          font-size: 1.125rem;
          margin-bottom: 0;
        }
      }
      .cercanias {
        margin-top: 2.5rem;
        p {
          font-size: 0.875rem;
          line-height: 1.75rem;
          margin-bottom: 0;
        }
      }
    }
  }
  @media (max-width: $lg) {
    padding-bottom: 2rem;
    h2 {
      padding-bottom: 2rem;
    }
    .contacto-wraper {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .formulario {
        margin-bottom: 3.5rem;
        h3 {
          text-align: center;
        }
        flex-basis: unset;
        width: 70%;
        min-width: 30rem;
      }
    }
  }
  @media (max-width: $sm) {
    h2 {
      font-size: 1.5625rem;
      padding: 1.625rem 0 1rem 0;
    }
    .contacto-wraper {
      .formulario {
        h3 {
          font-size: 1.125rem;
          margin-bottom: 1rem;
        }
        width: 75%;
        min-width: unset;
        .btn-wraper {
          display: flex;
          justify-content: center;
        }
      }
      aside {
        padding-left: 0rem;
        min-width: unset;
        border-left: none;
      }
    }
  }
  @media (max-width: 405px) {
    .contacto-wraper {
      aside {
        .direccion {
          p {
            font-size: 1.1rem;
          }
        }
        .cercanias {
          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
